<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>76655780325-bq0qrc3rf4v9k1adigfb3vcbokp17kki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.76655780325-bq0qrc3rf4v9k1adigfb3vcbokp17kki</string>
	<key>API_KEY</key>
	<string>AIzaSyDh51Qh2EAwWJYFA6PRMmm8BKJkg6t3nTo</string>
	<key>GCM_SENDER_ID</key>
	<string>76655780325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.baccvs.Instagram1</string>
	<key>PROJECT_ID</key>
	<string>instagram1-19ce9</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram1-19ce9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76655780325:ios:59626cb2073cece3e40f0c</string>
</dict>
</plist>